{% extends 'community/base.html' %}
{% load dict_key %}


{% block content %}

<h1> Welcome to the booking section </h1>
{% for date, day_schedule in schedule.items %}
    
        <h3>{{ date }}</h3>
        {% for time_slot, event in day_schedule.items %}
            <div class="time-slot">
                <h4> {{ time }} </h4>
                
                    {% if event %}
                        <div class="booked-event">
                            <p> Booked: {{ event.title }} by {{ event.author.user.username }}</p>
                        </div>       
                    {% else %}
                    <div class="open-slot">
                        <p> Avialable Slot </p>
                    </div>
                {% endif %}
                </div>
                {% endfor %}
            {% endfor %}
{% endblock%}