{% extends 'community/base.html' %}

{% block content %}
<!-- Adding in login/logout links -->
<div class="container mt-4 ">
    <h1> Welcome to the Community Center</h1>
    <p class="mt-3">
        {% if user.is_authenticated %}

            Hi , {{ user.name }}
            {% if user.profile.role == 'INSTRUCTOR' or user.profile.role == 'GOVERNMENT' %}
                <a href="{% url 'create_event' %}" class = "btn btn-success"> Create an Event </a>
            {% endif %}
        <a href="{% url 'logout' %}" class="btn btn-light ">Logout </a>
        
        {% else %}
        <div class="btn-group" role="group" aria-label="login/signup">
            <a href="{% url 'login' %}" class="btn btn-primary"> Login </a>
            <a href="{% url 'register_public' %}" class="btn btn-primary"> Sign up </a>
            <a href="{% url 'register_instructor'  %}" class="btn btn-primary"> Sign up as Instructor </a>
            <a href="{% url  'register_government' %}" class="btn btn-primary"> Sign up as Government Official </a>
        </div>
        {% endif %}
    </p>
</div>


{% endblock content %}