{% extends 'community/base.html' %}
{% load dict_key %}

<!-- Custom template tag for handling dictionaries -->
{% load i18n %}
<!-- Load internationalization tag for language translation -->
{% load static %}
{% block content %}

<!-- Container for the booking section -->
<div class="container mt-4 ">
    <h1 class="text-center mb-4"> Welcome to the booking section </h1>
    <div class="row">

        <!-- Loop over each day in the schedule -->
        {% for date, day_schedule in schedule.items %}
        <div class="col-md-6 col-lg-4 mb-4">
            <!-- Start of a card -->
            <div class="card   schedule-card">
                <div class="card-header">
                    <h3 class="card-title"> {{ date|date:"D, M j, Y" }} </h3>
                </div>
                <div class="card-body">
                    <!-- Loop over each time slot in the day's schedule -->
                    {% for time_slot , slot_data in day_schedule.items %}

                    <p> {{ time_slot }} </p>
                    {% if slot_data.available %}
                    {% if user.profile.role == 'INSTRUCTOR' or user.profile.role == 'GOVERNMENT' %}
                    <a href="{% url 'create_event' %}?event_date={{ date|date:"Y-m-d" }}&event_time={{ time_slot }}" class="btn btn-success btn-sm">Book Event</a>
                    <!-- Adding a booking button -->
                    {% endif %}
                    {% else %}
                    {% for event in slot_data.events %}
                    <!-- Check if there is an event in this time slot -->
                    <!-- Conditional styling based on event author's role -->
                    <div class=" p-2 mt-2 mb-2  rounded text-center ">
                        <div id="event{{ event.id }}" class="event-card {% if event.id == highlighted_event_id %}highlighted-event{% endif %}" data-event-id="{{ event.id }}">
                        
                        <div class="pt-2 bg-light border-2 {% if event.author.role == 'INSTRUCTOR' %} border-warning {% else %} border-primary {% endif %} rounded">
                            <h5 class="mb-1 {% if event.author.role == 'INSTRUCTOR' %} text-warning {% else %} text-primary {% endif %} ">
                                {{ event.title }}
                                <span>Likes:</span>
                                <span class="like-count" data-event-id="{{ event.id }}">
                                    {{ event.like_set.count }}</span>
                            </h5>
                            <p class="mb-1">
                                {{ event.author.user.username }} </p>
                            {% if event.author.role == 'INSTRUCTOR' %}
                            <p>Instructor Rating: {{ event.author.average_rating|default:"Not rated yet" }}</p>
                            {% endif %}
                            <!-- Display the instructor's rating -->
                            <p> Cost :
                                <!-- Display cost based on event author's role -->
                                {% if event.author.role == 'INSTRUCTOR' %} £ 7.00
                                {% else %} £0.00
                                {% endif %}
                            </p>
                            <!-- Handling user booking status -->
                            {% if event.id in user_bookings %}
                            <button class="btn btn-secondary mb-2 btn-sm disabled"> Joined </button>
                            {% elif event.capacity <= 1 %}
                            <button class="btn btn-danger mb-2 btn-sm disabled">Fully Booked</button>
                            {% else %}
                            
                            <a href="{% url 'join_event' event.id %}?token={{ request.session.my_unique_token }}"
                            class="mb-2 btn {% if event.author.role == 'INSTRUCTOR' %} btn-warning {% else %} btn-info {% endif %} btn-sm"
                            onclick="return confirmJoinEvent()">
                        
                         <span class="visually-hidden">Join this event on
                                    {{ event.date }} at {{ event.time }}</span> Join Event </a>
                            {% endif %}
                            
                            <!-- Info button to zoom in and display details of th event upon clicking -->
                            <button type="button" class="btn btn-secondary btn-sm mb-2" data-bs-toggle="modal"
                                data-bs-target="#eventModal{{ forloop.parentloop.counter }}_{{ event.id }}"><span class="visually-hidden">Read more about
                                    {{ event.title }}</span>Read More</button> </div>
                            <div class="modal fade" id="eventModal{{ forloop.parentloop.counter }}_{{ event.id }}" tabindex="-1"
                                aria-labelledby="eventModal{{ forloop.parentloop.counter }}_{{ event.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">{{ event.title }}
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <span> Event by {{ event.author.user.username }} <br> </span>
                                            {% if event.author.role == 'INSTRUCTOR' %}
                                            <p>Instructor Rating:
                                                {{ event.author.average_rating|default:"Not rated yet" }}</p>
                                            {% endif %}
                                            <p> {{ event.description }} </p> <!-- Display event description -->
                                            <p>Date: {{ event.date }}</p> <!-- Display event date -->
                                            <p>Start Time : {{ event.time }}</p> <!-- Display event start time -->
                                            <p> Capacity: {{ event.capacity }}</p> <!-- Display event capacity -->
                                            Cost :
                                            <!-- Display cost based on event author's role -->
                                            {% if event.author.role == 'INSTRUCTOR' %} £ 7.00
                                            {% else  %} £0.00
                                            {% endif %}
                                            {% if event.image %}
                                            <img src="{{ event.image.url }}" class="card-img-top" alt="{{  event.title }}">
                                            {% endif %}
                                            <!-- Placeholder for event cost -->
                                            <!-- Inside your event loop in the template -->
                                            <button class="btn btn-info like-btn"
                                                data-event-id="{{ event.id }}">Like</button>
                                            <span class="visually-hidden">Like this event</span>
                                            <!-- Rating system -->
                                        </div>
                                        <div class="modal-footer">
                                            <div class="d-flex col-10 row justify-content-center align-items-center">
                                                {% if event.author.role == 'INSTRUCTOR' and  event.id in user_bookings %}
                                                <!-- ... event details ... -->
                                                <form method="post"
                                                    action="{% url 'submit_rating' instructor_id=event.author.id %}">
                                                    {% csrf_token %}
                                                    <label for="rating">Rate this instructor:</label>
                                                    <select name="score" id="rating">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                    <input type="submit" value="Submit Rating">
                                                    <span class="visually-hidden">Submit your rating for this
                                                        instructor</span>
                                                </form>
                                                {% endif %}
                                                <a href="{% url 'join_event' event.id %}?token={{ request.session.my_unique_token }}"
                                                    class=" {% if event.id in user_bookings %} d-none {% else %} btn {% if event.author.role == 'INSTRUCTOR' %} btn-warning {% else %} btn-primary {% endif %} btn-sm {% endif %}"
                                                    onclick="return confirmJoinEvent()"><span
                                                        class="visually-hidden">Join this event on {{ event.date }} at
                                                        {{ event.time }}</span> Join Event </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Join event link with onclick event for confirmation -->
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <!-- Displaying 'Available' if no event is scheduled -->
                    {% if user.profile.role == 'INSTRUCTOR' and slot_data.available or user.profile.role == 'GOVERNMENT_OFFICIAL' and slot_data.available %}
                    <div class="status-available"> {{ 'Available' }}</div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:2 %}
                    <!-- Adding a cleaning break after every two time slots -->
                    <p class="cleaning-break cleaning-break-badge"> {% trans "30 min Cleaning Break" %} </p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
<!-- Pagination Links -->
<nav aria-label="Page navigation ">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if highlighted_event_id %}&event_id={{ highlighted_event_id }}{% endif %}">
                    <span class="visually-hidden">Previous page</span>&laquo;
                </a>
            </li>
        {% endif %}
        <!-- Current Page -->
        <li class="page-item active"><span class="page-link">Page {{ page_obj.number }}</span></li>
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if highlighted_event_id %}&event_id={{ highlighted_event_id }}{% endif %}">
                    <span class="visually-hidden">Next page</span>&raquo;
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
</div>

<script>
    // JavaScript function for confirming event join action
    function confirmJoinEvent() {
        return confirm(
            'Are you sure you want to join this event? This will deduct the cost from your wallet. Refunds are not eligible for events.'
        );
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Get the highlighted event ID from the URL if it exists
        const urlParams = new URLSearchParams(window.location.search);
        const highlightedEventId = urlParams.get('event_id');
    
        // Delay the scroll to ensure that the document is fully rendered
        setTimeout(() => {
            if (highlightedEventId) {
                // If there is an event to highlight, find it, highlight it, and scroll to it
                const eventElement = document.getElementById("event" + highlightedEventId);
                if (eventElement) {
                    eventElement.classList.add("highlighted-event");
                    // Scroll to the eventElement with smooth behavior
                    eventElement.scrollIntoView({ behavior: 'smooth', block: 'center' });
                }
            }
        }, 100); // Delay might need to be adjusted depending on the content size
    });
    </script>

<script>
    $(document).ready(function () {
        // Like button event listener
        $('.like-btn').on('click', function () {
            var eventId = $(this).data('event-id');
            $.ajax({
                url: '/community/like_event/' + eventId + '/',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (response) {
                    if (response.liked) {
                        alert('Event liked!');
                        $('.like-count[data-event-id="' + eventId + '"]').text(response
                            .like_count);
                    } else {
                        alert('Like removed.');
                        $('.like-count[data-event-id="' + eventId + '"]').text(response
                            .like_count);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });


    });
</script>
<script>
    $(document).ready(function () {
        $('form.rating-form').on('submit', function (e) {
            e.preventDefault();
            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form.serialize(),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (response) {
                    // handle success
                },
                error: function (xhr, status, error) {
                    // handle error
                }
            });
        });
    });
</script>

{% endblock %}