{% extends 'community/base.html' %}
{% load dict_key %}<!-- Custom template tag for handling dictionaries -->
{% load i18n %}<!-- Load internationalization tag for language translation -->

{% block content %}
<main id="main-background">
    <!-- Container for the booking section -->
    <div class="container mt-4 ">
        <h1 class="text-center mb-4"> Welcome to the booking section </h1>
        <div class="row">
            <!-- Loop over each day in the schedule -->
            {% for date, day_schedule in schedule.items %}
            <div class="col-md-6 col-lg-4 mb-4">
                <!-- Start of a card -->
                <div class="card   schedule-card">
                    <div class="card-header">
                        <h3 class="card-title"> {{ date|date:"D, M j, Y" }} </h3>
                    </div>
                    <div class="card-body">
                        <!-- Loop over each time slot in the day's schedule -->
                        {% for time_slot, event in day_schedule.items %}

                        <p> {{ time_slot }} </p>

                        <!-- Check if there is an event in this time slot -->
                        {% if event %}
<!-- Conditional styling based on event author's role -->
                        <div class="{% if event.author.role == 'INSTRUCTOR' %}text-orange{% elif event.author.role == 'GOVERNMENT_OFFICIAL' %}text-blue{% endif %}">
                            <div id="main-background">{{ event.title }} by {{ event.author.user.username }} </div>
                                <div id="main-background"> Cost :
                                     <!-- Display cost based on event author's role -->
                                    {% if event.author.role == 'INSTRUCTOR' %} £ 7.00
                                    {% elif event.author.role == 'GOVERNMENT_OFFICIAL' %} £0.00
                                    {% endif %}
                                 <!-- Handling user booking status -->
                                {% if event.id in user_bookings %}
                                <button class="btn btn-secondary btn-sm standard disabled"> Joined </button>
                           

                            {% elif user.profile.role  in 'INSTRUCTOR,GOVERNMENT_OFFICIAL' %}
                            <button class="btn btn-secondary btn-sm standard disabled"> No Access </button>
                            {% else %}
<!-- Info button to zoom in and display details of th event upon clicking -->
<button class="btn btn-info btn-sm standard" onclick="showEventDetails({{ event.id }})"> Info 
 </button>

                            <!-- Join event link with onclick event for confirmation -->
                            <a href="{% url 'join_event' event.id %}" class="btn btn-primary btn-sm"
                                onclick="return confirmJoinEvent()"> Join Event </a>
                            {% endif %}
                            </div>
                            <div id="event-details-{{ event.id }}" class="event-details" style="display:none;">
                                <h4> Event Details:</h4>
                                <p> {{ event.description }} </p>
                                <button  class="btn btn-close" onclick="hideEventDetails({{ event.id }})"> Close  </button>
                            </div>
                        </div>
                        {% else %}
                        <!-- Displaying 'Available' if no event is scheduled -->
                        <div class="carousel-inner pt-1 pb-1"><span class="status-available"> {% trans "Available" %}
                            </span>
                        </div>
                        {% endif %}

                        {% if forloop.counter|divisibleby:2 %}
 <!-- Adding a cleaning break after every two time slots -->
                        <p class="cleaning-break cleaning-break-badge"> {% trans "30 min Cleaning Break" %} </p>
                        {% endif %}

                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
<script > 
function showEventDetails(eventId) {
    let eventDetailsDiv = document.getElementById('event-details-' + eventId);
    if(eventDetailsDiv){
    eventDetailsDiv.style.display ='block';
}}

function hideEventDetails(eventId) {
    let eventDetailsDiv =document.getElementById('event-details' + eventId);
    if(eventDetailsDiv)
    {eventDetailsDiv.style.display = 'none';
}}
</script> 

<script>
     // JavaScript function for confirming event join action
    function confirmJoinEvent() {
        return confirm(
            'Are you sure you want to join this event ? This will deduct the cost from your wallet. Refunds are not eligible for events '
        );
    }
</script>


{% endblock%}