{% extends 'community/base.html' %}
{% load static %}

{% block content %}
<div class="col-12 row gx-0  d-flex justify-content-center align-items-center pb-3 border-0 rounded" >
    <!-- Title and user-specific greeting -->
    <div class="col-8 container mt-4 d-flex d-md-none justify-content-center ">
        <h1 class="h1 text-center"> Welcome to <br> the Community <br> Center</h1>
    </div>
    {% if user.is_authenticated %}
    <div class="col-8 container mt-4 d-flex d-md-none justify-content-center ">
        <h2 class="h3 leading ">
            <!-- Check if user is authenticated -->
            Hi , {{ user.profile }}
            <!-- Display 'Create an Event' option for certain user roles -->
        </h2>
    </div>
    {% endif %}
    <div class="col-8 container mt-4 d-none  d-md-flex justify-content-center ">
        <h1 class="h1 text-center"> Welcome to the Community Center</h1>
    </div>
    {% if user.is_authenticated %}
    <div class="col-8 container mt-4 d-none  d-md-flex justify-content-center ">
        <h2 class="h3 leading ">
            <!-- Check if user is authenticated -->
            Hi , {{ user.profile }}
            <!-- Display 'Create an Event' option for certain user roles -->
        </h2>
    </div>
    {% endif %}
</div>
<div class="row d-flex d-md-none  justify-content-center align-items-center overflow-hidden gx-0 " id="overflow-control1">
    <!-- Section displaying event categories and a carousel of event images -->

    <div class="col-11  h-75">
        <div class="banner-container">
            <div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
                <div class="carousel-item active">
                    <img src="https://res.cloudinary.com/dwz6t9jry/image/upload/v1701945867/img-12_t4nrfz.png"
                        class="d-block w-100" data-bs-event="maths-tutor" alt=" Maths Tutoring Event">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dwz6t9jry/image/upload/v1701945869/img-14_wptghq.png"
                        class="d-block w-100" data-bs-event="yoga" alt=" Yoga Event">
                </div>

                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dwz6t9jry/image/upload/v1701945864/img-9-duplicate_wokhvw.png"
                        class="d-block w-100" data-bs-event="chess" alt=" Chess Event">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dwz6t9jry/image/upload/v1701945870/img-15_qsh1am.png"
                        class="d-block w-100" data-bs-event="gallery" alt=" Gallery  Event">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dwz6t9jry/image/upload/v1701945863/img-11_le9lfq.png"
                        class="d-block w-100" data-bs-event="dance" alt=" Dancing event">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dwz6t9jry/image/upload/v1701945868/img-13_cbdcys.png"
                        class="d-block w-100" data-bs-event="politic" alt=" Political  Event">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dwz6t9jry/image/upload/v1701945859/img-6_vtpf56.png"
                        class="d-block w-100" data-bs-event="firstaid" alt=" First Aid  Event">
                </div>
                <button class="carousel-control-prev  standard opacity-0.05" id="carousel-button-next" type="button"
                    data-bs-target="#bannerCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next standard opacity-0.05 " id="carousel-button-previous" type="button"
                    data-bs-target="#bannerCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class=" col-10 bg-light event-info  border-0 rounded mb-2 mt-3 ">
        <h2 class="text-center">Types of Events</h2>
        <p class="text-center ">Maths Tutoring: Enhance your skills with expert tutors.Yoga for Wellness:
            Stretch and strengthen your body.
            Chess Championship: Showcase your strategic prowess. </p>
        <p> And more .... </p>
    </div>
</div>
<div class="d-none row  pb-4 d-md-flex d-lg-none justify-content-around overflow-hidden gx-0" id="overflow-control2">
    <!-- Section displaying event categories and a carousel of event images -->
    <div class=" col-md-5 col-lg-4   event-info bg-light border-0 rounded">
        <h3 class="text-center mt-3 ">Types of Events</h3>
        <p class="text-center ">Enhance your skills with expert tutors.
            Stretch and strengthen your body with specialists. Obtain government approved qualifications.
            Chess Championship: Showcase your strategic prowess.
            <br> And more ..... </p>
    </div>


    <div class=" col-md-6 h-75">
        <div class="banner-container">
            <div id="bannerCarousel1" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
                <div class="carousel-item active">
                    <img src="https://res.cloudinary.com/dwz6t9jry/image/upload/v1701945867/img-12_t4nrfz.png"
                        class="d-block w-100" data-bs-event="maths-tutor" alt=" Maths Tutoring Event">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dwz6t9jry/image/upload/v1701945869/img-14_wptghq.png"
                        class="d-block w-100" data-bs-event="yoga" alt=" Yoga Event">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dwz6t9jry/image/upload/v1701945864/img-9-duplicate_wokhvw.png"
                        class="d-block w-100" data-bs-event="chess" alt=" Chess Event">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dwz6t9jry/image/upload/v1701945870/img-15_qsh1am.png"
                        class="d-block w-100" data-bs-event="gallery" alt=" Gallery  Event">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dwz6t9jry/image/upload/v1701945863/img-11_le9lfq.png"
                        class="d-block w-100" data-bs-event="dance" alt=" Dancing event">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dwz6t9jry/image/upload/v1701945868/img-13_cbdcys.png"
                        class="d-block w-100" data-bs-event="politic" alt=" Political  Event">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dwz6t9jry/image/upload/v1701945859/img-6_vtpf56.png"
                        class="d-block w-100" data-bs-event="firstaid" alt=" First Aid  Event">
                </div>
                <button class="carousel-control-prev  standard opacity-0.05" id="carousel-button-next1" type="button"
                    data-bs-target="#bannerCarousel1" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next standard opacity-0.05 " id="carousel-button-previous1"
                    type="button" data-bs-target="#bannerCarousel1" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="d-none row  pb-4  d-lg-flex justify-content-around overflow-hidden gx-0" id="overflow-control3">
    <!-- Section displaying event categories and a carousel of event images -->
    <div class=" col-md-5 col-lg-5 col-xl-4   event-info bg-light border-0 rounded">
        <h3 class="text-center mt-3 ">Types of Events</h3>
        <p class="text-center">Explore a wide array of events at our Community Center. From yoga sessions led by expert instructors, chess tournaments to test your strategic thinking, to government-led workshops for civic engagement – we offer a diverse range of activities to enrich your lifestyle and community involvement.
            <br> 
            Our platform enables easy booking and scheduling, ensuring a seamless experience for instructors, government officials, and the public. Whether you're looking to enhance your skills, engage in community activities, or find a space for your event, our system simplifies the process.
            <br> 
            In addition to standard events, our center hosts special workshops and talks by industry experts, providing valuable insights and learning opportunities. Our user-friendly interface allows for efficient management of bookings and schedules, catering to the diverse needs of our community.
        </p>
    </div>


    <div class=" col-md-6 h-75">
        <div class="banner-container">
            <div id="bannerCarousel1" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
                <div class="carousel-item active">
                    <img src="https://res.cloudinary.com/dwz6t9jry/image/upload/v1701945867/img-12_t4nrfz.png"
                        class="d-block w-100" data-bs-event="maths-tutor" alt=" Maths Tutoring Event">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dwz6t9jry/image/upload/v1701945869/img-14_wptghq.png"
                        class="d-block w-100" data-bs-event="yoga" alt=" Yoga Event">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dwz6t9jry/image/upload/v1701945864/img-9-duplicate_wokhvw.png"
                        class="d-block w-100" data-bs-event="chess" alt=" Chess Event">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dwz6t9jry/image/upload/v1701945870/img-15_qsh1am.png"
                        class="d-block w-100" data-bs-event="gallery" alt=" Gallery  Event">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dwz6t9jry/image/upload/v1701945863/img-11_le9lfq.png"
                        class="d-block w-100" data-bs-event="dance" alt=" Dancing event">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dwz6t9jry/image/upload/v1701945868/img-13_cbdcys.png"
                        class="d-block w-100" data-bs-event="politic" alt=" Political  Event">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dwz6t9jry/image/upload/v1701945859/img-6_vtpf56.png"
                        class="d-block w-100" data-bs-event="firstaid" alt=" First Aid  Event">
                </div>
                <button class="carousel-control-prev  standard opacity-0.05" id="carousel-button-next1" type="button"
                    data-bs-target="#bannerCarousel1" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next standard opacity-0.05 " id="carousel-button-previous1"
                    type="button" data-bs-target="#bannerCarousel1" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
{% if request.user.is_authenticated and request.user.profile.role == 'STAFF' %}
<div class="scrollable-section mt-5 border-0 rounded">
    <h3>Public Users</h3>
    <ul>
        {% for user_profile in public_users %}
        <li class="user-item" data-user-id="{{ user_profile.user.id }}">
            <a href="{% url 'issue_credit' %}?user_id={{ user_profile.user.id }}">
                Username: {{ user_profile.user.username }}, Balance: £{{ user_profile.balance }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="mt-5 border-0 rounded">
    <h1> Coming Soon with next update </h1>
    <div class="d-none d-md-inline-block col-8">
        <canvas id="eventGraph" width='300' height="150"></canvas>
    </div>
</div>
{% endif %}
{% if created_events %}
<!-- ... Content for displaying created events ... -->
<div class="container mt-5 carousel-inner border-0 rounded">
    <div class="row">
        <div class="col-12  d-flex text-center justify-content-center ">
            <h2 class="display-4"> Your Created Events:</h2>
        </div>
    </div>
    <div class="row">
        {% for event in created_events %}
        <div class="col-md-4 mb-3 ">
            <div class="card bg-light  card-opacity border-0 justify-content-center align-items-center">
                <strong>{{ event.title }}</strong>
                <p>Date: {{ event.date }}</p>
                <p>Start Time : {{ event.time }}</p>
                <p> Capacity: {{ event.capacity }}</p>
                <p> Cost: £ {% if event.author.role == 'INSTRUCTOR' %}
                    7.00
                    {% else %}
                    0.00
                    {% endif %} </p>
                <button type="button" class="btn btn-secondary btn-sm mb-2" data-bs-toggle="modal"
                    data-bs-target="#eventModal{{ event.id }}">Read More</button>
                <div class="modal fade" id="eventModal{{ event.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="eventModal{{ event.id }}">{{ event.title }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <span> Event by {{ event.author.user.username }} <br> </span>
                                <p> {{ event.description }} </p> <!-- Display event description -->
                                <p>Date: {{ event.date }}</p>
                                <p>Start Time : {{ event.time }}</p> <!-- Display event start time -->
                                <p> Capacity: {{ event.capacity }}</p> <!-- Display event date -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-1 d-flex justify-content-center  ">
                    <div class="row p-1 d-flex justify-content-center">
                        <div class="col-6">
                            <a href="{% url 'update_event' event.id %}">
                                <button class="standard {% if event.has_bookings %}disabled{% endif %}"> Update
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        {% if not event.has_bookings %}
                        <a href="{% url 'delete_event' event.id %}"><button class="standard"> Delete </button></a>
                        {% else %}
                        <p class="ms-md-1"> Event deletion is disabled after public booking of course </p>
                        <button class="btn btn-danger standard disabled ms-md-1 ms-lg-4 ">Delete </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endif %}
<!-- ... Content for displaying joined events ... -->
{% if user.is_authenticated and joined_events %}
<div class="container mt-5 carousel-inner border-0 rounded">
    <div class="row ">
        <div class="col-12 d-flex text-center justify-content-center">
            <h2> Events You have Joined :</h2>
        </div>
    </div>
    <div class="row">
        {% for event in joined_events %}
        <div class="col-md-4">
            <div
                class="card bg-light   card-opacity border-4 {% if event.author.role == 'INSTRUCTOR' %} border-warning {% else %} border-primary {% endif %} mb-4">
                <div class="ms-3 mt-2">
                    <p>
                        <strong> {{ event.title }}</strong> by {{ event.author.user.username }}
                        <br> Like Count
                        <span class="like-count" data-event-id="{{ event.id }}">
                            {{ event.like_set.count }}</span>
                    </p>
                    <p>Start Time : {{ event.time }}</p>
                </div>
                <div class="card-body">
                    <p> {{ event.date|date:"l, F j , Y" }}-{{ event.time }} </p>
                    <button type="button" class="btn btn-secondary btn-sm mb-2" data-bs-toggle="modal"
                        data-bs-target="#eventModal{{ event.id }}">Read More</button>
                    <div class="modal fade" id="eventModal{{ event.id }}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="eventModal{{ event.id }}">{{ event.title }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <span> Event by {{ event.author.user.username }} <br> </span>
                                    <p> {{ event.description }} </p> <!-- Display event description -->
                                    <p>Date: {{ event.date }}</p> <!-- Display event date -->
                                    {% if event.author.role == 'INSTRUCTOR' %}
                                    <p>Instructor Rating:
                                        {{ event.author.average_rating|default:"Not rated yet" }}</p>
                                    {% endif %}
                                    <p>Start Time : {{ event.time }}</p> <!-- Display event start time -->
                                    <p> Capacity: {{ event.capacity }}</p> <!-- Display event capacity -->
                                    Cost :
                                    <!-- Display cost based on event author's role -->
                                    {% if event.author.role == 'INSTRUCTOR' %} £ 7.00
                                    {% else  %} £0.00
                                    {% endif %}
                                    {% if event.image %}
                                    <img src="{{ event.image.url }}" class="card-img-top" alt="{{  event.title }}">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
   
</div>
{% else %}
{% endif %} <!-- ... Content for displaying user's balance and recent transactions ... -->
{% if user.is_authenticated %}
{% if user.profile.role == 'INSTRUCTOR' or user.profile.role == 'GENERAL_PUBLIC' %}
<div class="container mt-5 mb-3 pb-4 ">
    <div class="row align-items-start carousel-inner border-0 rounded m-1">
        <div class="col-8 col-md-4">
            <h3> Your Balance: {{ user.profile.balance }}</h3>
            <h4> Recent Transactions </h4>
            <ul class="budget-list">
                {% for transaction in balance_transactions %}
                <li class="budget-list"> {{ transaction.create_at }} {{ transaction.amount }}
                    {{ transaction.transaction_type }}
                </li>
                {% empty %}
                <li class="budget-list"> No recent transactions.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="d-none d-md-inline-block col-8">
            <canvas id="transactionGraph" width='300' height="150"></canvas>
        </div>
    </div>
</div>
{% endif %}
{% if user.profile.role == 'GOVERNMENT' %}
<div class="row align-items-center justify-content-center border-0 rounded m-1">
    <div class="col-12 col-md-8 col-lg-6">
        <h2 class="text-center">Event Participation Overview</h2>
        <div class="chart-container" style="position: relative; height:40vh; width:40vw">
            <canvas id="eventParticipationGraph"></canvas>
        </div>
    </div>
</div>
{% endif %}
{% if user.profile.role == 'PUBLIC' %}
<div class="container mt-5 mb-3 pb-4 ">
    <div class="row align-items-start carousel-inner border-0 rounded m-1">
        <div class="col-8 col-md-4">
            <h3> Your Balance: {{ user.profile.balance }}</h3>
            <h4> Recent Transactions </h4>
            <ul class="budget-list">
                {% for transaction in balance_transactions %}
                <li class="budget-list"> {{ transaction.create_at }} {{ transaction.amount }}
                    {{ transaction.transaction_type }}
                </li>
                {% empty %}
                <li class="budget-list"> No recent transactions.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="d-none d-md-inline-block col-8">
            <canvas id="transactionGraph" width='300' height="150"></canvas>
        </div>
    </div>
</div>
{% endif %}
{% endif %}
<!-- ... Script for initializing the chart ... -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- JavaScript for Chart.js to display transaction history graphically -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Parse the JSON from the Django template into JavaScript variables
        let transactionDates = JSON.parse('{{ transaction_dates|safe }}' || '[]');
        let transactionAmounts = JSON.parse('{{ transaction_amounts|safe }}' || '[]');
        let eventTitles = JSON.parse('{{ event_titles|safe }}' || '[]');
        let bookingCounts = JSON.parse('{{ booking_counts|safe }}' || '[]');

        // Initialize the transaction graph if the canvas exists
        const transactionGraphCanvas = document.getElementById('transactionGraph');
        if (transactionGraphCanvas) {
            const ctx = transactionGraphCanvas.getContext('2d');
            const transactionGraph = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: transactionDates,
                    datasets: [{
                        label: 'Cumulative Transaction History',
                        data: transactionAmounts,
                        backgroundColor: 'rgba(54,162,235,0.2)',
                        borderColor: 'rgba(54,162,235,1)',
                        borderWidth: 3,
                        tension: 0.4,
                        pointBackgroundColor: '#fff',
                        pointBorderColor: 'rgba(54,162,235,1)',
                        pointRadius: 5,
                        pointHoverRadius: 7,
                        fill: true,
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: false
                        }
                    },
                    plugins: {
                        legend: {
                            display: true,
                            position: 'top',
                            labels: {
                                font: {
                                    size: 14
                                }
                            }
                        }
                    },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
        }

        // Initialize the event participation graph if the canvas exists

        // Initialize the event participation graph if the canvas exists
        const eventParticipationGraphCanvas = document.getElementById('eventParticipationGraph');
        if (eventParticipationGraphCanvas) {
            const ctx = eventParticipationGraphCanvas.getContext('2d');
            const eventParticipationGraph = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: eventTitles,
                    datasets: [{
                        label: 'Event Bookings',
                        data: bookingCounts,
                        backgroundColor: 'rgba(54,162,235,0.2)',
                        borderColor: 'rgba(54,162,235,1)',
                        borderWidth: 1,
                        fill: true,
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks: {
                                stepSize: 1
                            }
                        }
                    },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
        }
    });
</script>
<script>
    document.querySelectorAll('.user-item').forEach(item => {
        item.addEventListener('click', function () {
            const userId = this.getAttribute('data-user-id');
            window.location.href =
                `/community/issue-credit/?user_id=${userId}`; // Update the URL path here
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let instructorEventDates = JSON.parse('{{ instructor_event_dates|safe }}' || '[]');
        let governmentEventDates = JSON.parse('{{ government_event_dates|safe }}' || '[]');
        let combinedEventDates = JSON.parse('{{ combined_event_dates|safe }}' || '[]');

        let instructorEventAmounts = JSON.parse('{{ instructor_event_amounts|safe }}' || '[]').map((val, i,
            arr) => arr.slice(0, i + 1).reduce((a, b) => a + b, 0));
        let governmentEventAmounts = JSON.parse('{{ government_event_amounts|safe }}' || '[]').map((val, i,
            arr) => arr.slice(0, i + 1).reduce((a, b) => a + b, 0));
        let combinedEventAmounts = instructorEventAmounts.map((val, index) => val + (governmentEventAmounts[
            index] || 0));

        const totalInstructorEvents = instructorEventAmounts.reduce((a, b) => a + b, 0);
        const totalGovernmentEvents = governmentEventAmounts.reduce((a, b) => a + b, 0);

        const eventGraphCanvas = document.getElementById('eventGraph');
        if (eventGraphCanvas) {
            const ctx = eventGraphCanvas.getContext('2d');
            const eventGraph = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: combinedEventDates,
                    datasets: [{
                            label: 'Instructor Events (£200 each)',
                            data: instructorEventAmounts,
                            backgroundColor: 'rgba(255,99,132,0.2)',
                            borderColor: 'rgba(255,99,132,1)',
                            borderWidth: 3,
                            fill: false,
                        },
                        {
                            label: 'Government Events (£100 each)',
                            data: governmentEventAmounts,
                            backgroundColor: 'rgba(54,162,235,0.2)',
                            borderColor: 'rgba(54,162,235,1)',
                            borderWidth: 3,
                            fill: false,
                        },
                        {
                            label: 'Combined Events',
                            data: combinedEventAmounts,
                            backgroundColor: 'rgba(75,192,192,0.2)',
                            borderColor: 'rgba(75,192,192,1)',
                            borderWidth: 3,
                            fill: false,
                        }
                    ]
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: `Historic Totals - Instructors: £${totalInstructorEvents}, Government: £${totalGovernmentEvents}`,
                            padding: {
                                top: 10,
                                bottom: 30
                            },
                            font: {
                                size: 16
                            }
                        },
                        legend: {
                            display: true,
                            position: 'top',
                            labels: {
                                font: {
                                    size: 14
                                }
                            }
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
        }
    });
</script>


{% endblock content %}