{% extends 'community/base.html' %}
{% block title %}Search Events{% endblock title %}

{% block content %}
<form method="get">
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>

{% for event in events %}
    <div class="event-card">
        <h3>{{ event.title }}</h3>
        <p>{{ event.description }}</p> <p> Like Count :   <span class="like-count" data-event-id="{{ event.id }}">
            {{ event.like_set.count }}</span> </p>
      
        {% if event.author.role == 'INSTRUCTOR' %}
        <p>Instructor Rating: {{ event.author.average_rating|default:"Not rated yet" }}</p>
       {% endif %}
       <p>Date: {{ event.date }}</p> <!-- Display event date -->
       <p>Start Time : {{ event.time }}</p> <!-- Display event start time -->
       <p> Capacity: {{ event.capacity }}</p> <!-- Display event capacity -->
       <p>Cost :
       <!-- Display cost based on event author's role -->
       {% if event.author.role == 'INSTRUCTOR' %} £ 7.00
       {% else  %} £0.00
       {% endif %}
    </p>
        <p>Tags: {{ event_details.event.id.tags }}</p>
        {% if event_details.event.id.user_has_booked %}
            <button class="btn btn-secondary disabled">Joined</button>
        {% else %}
            <a href="{% url 'join_event' event.id %}" class="btn btn-primary">Join Event</a>
        {% endif %}
        <a href="{% url 'event_detail' event.id %}" class="btn btn-secondary">View Details</a>
    </div>
{% endfor %}
{% endblock content %}