{% extends 'community/base.html' %}
{% block title %}Search Events{% endblock title %}

{% block content %}

    <div class="d-flex   justify-content-center align-items-center">
    <form method="get" class="d-block d-lg-flex align-items-center justify-content-center ">
        {{ form.as_p }}
        <button class="btn btn-primary " type="submit">Search</button>
    </form>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        {% for event_detail in event_details_list %}
            <div class="col-lg-4 col-md-6 col-12 mb-4">
                <!-- Event Card -->
                <div class="card schedule-card m-3 bg-light p-3 rounded">
                    <h3>{{ event_detail.event.title }}</h3>
                    <p>{{ event_detail.event.description }}</p>
                    <p>Like Count: <span class="like-count">{{ event_detail.likes_count }}</span></p>
                    {% if event_detail.event.author.role == 'INSTRUCTOR' %}
                        <p>Instructor Rating: {{ event_detail.average_rating|default:"Not rated yet" }}</p>
                    {% endif %}
                    <p>Date: {{ event_detail.event.date }}</p>
                    <p>{{ event.description }}</p>
                    <p>Start Time: {{ event_detail.event.time }}</p>
                    <p>Capacity: {{ event_detail.event.capacity }}</p>
                    <p>Cost: {% if event_detail.cost == 0.00 %} Free {% else %} £{{ event_detail.cost }}0 {% endif %}</p>
                    <p>Tags: {{ event_detail.tags }}</p>

                    <!-- Join Event Button -->
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- JavaScript for Confirm Join Event -->


{% endblock %}