

/* Body Styling  */


.schedule-card {border : 1px solid #dee2e6;
box-shadow: 0 1px 3px rgba(0,0,0,0.1);}
.schedule-card .card-header {
    background-color: #f8f9fa;
    border-bottom: none;
}

.time-slot{ font-weight: bold; }

.status-available { color: #28a745;

}

.event-title {
    font-style: italic;
}

.join-event.btn {font-size:0.8rem;}

 li {text-decoration: none;
list-style-type: none;}

ul {text-decoration: none;
    list-style-type: none;}




.cleaning-break {font-size: 0.9rem;
color:#6c757d;
text-align: center;
padding:0.5rem 0;
background-color: #e2e6ea;
margin-top: 0.5rem;}


.text-orange {
    color:orange;
}

.text-blue {
    color:blue;
}