


#main-background {
  background: radial-gradient(circle at 10% 20%, rgb(90, 92, 106) 0%, rgb(32, 45, 58) 81.3%);
}

.testing-css { font-size: 100px;}
button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
  background: linear-gradient(45deg, #FF5F6D, #FFC371);
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

.banner-container {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .carousel-item img {
    border-radius: 15px;
  }
  
  /* Example gradient */
  .carousel-inner {
    background: linear-gradient(45deg, #6DC8F3, #73A1F9, #FFD26F, #FFB199);
    background-size: 600% 600%;
  
    -webkit-animation: Gradient 25s ease infinite;
    -moz-animation: Gradient 25s ease infinite;
    animation: Gradient 25s ease infinite;
  }


  
  @-webkit-keyframes Gradient {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
  }
  @-moz-keyframes Gradient {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
  }
  @keyframes Gradient {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
  }

  .carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 7s ease-in-out left;
    -moz-transition: 7s ease-in-out left;
    -o-transition: 7s ease-in-out left;
    transition: 7s ease-in-out left;
}


.card-opacity { background-color: rgba(255, 165, 0, 0.25);}
.card *  {opacity:1;}