/* Global Settings and Variables */
:root {
  --form-background-gradient: linear-gradient(45deg, #FFB199,#FFD26F,#73A1F9,  #6DC8F3);
  --button-gradient: linear-gradient(45deg, #FF5F6D, #FFC371);
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
}

/* Header Styling */
.navbar-heading {
  width: 100%;
}

#fire-background {
  background: linear-gradient(89.2deg, rgb(0, 0, 0) 10.4%, rgb(255, 0, 0) 37.1%, rgb(255, 216, 51) 64.3%, rgb(255, 255, 255) 90.5%);
}

/* Main Background Animation */
#main-background {
  background: var(--form-background-gradient);
  background-size: 600% 600%;
  -webkit-animation: Gradient 25s ease infinite;
  -moz-animation: Gradient 25s ease infinite;
  animation: Gradient 25s ease infinite;
}

/* Animation Keyframes */
@-webkit-keyframes Gradient {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}

@-moz-keyframes Gradient {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}

@keyframes Gradient {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}

/* Carousel Styling */
.carousel-inner {
  background: var(--form-background-gradient);
  background-size: 600% 600%;
  -webkit-animation: Gradient 25s ease infinite;
  -moz-animation: Gradient 25s ease infinite;
  animation: Gradient 25s ease infinite;
}

.carousel-item img {
  border-radius: 15px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transform: translate(0, -50%);
}

/* Button Styling */
button {
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.375em 0.75em;
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
  background: var(--button-gradient);
}

.standard {
  background: linear-gradient(45deg, #2D3E50, #4B6278);
  color: #fff;
  padding: 0.5em 1.1em;
  border-radius: 0.75em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 2px solid transparent;
}

/* Hover and Active States for Buttons */
button:hover .button_top,
.standard:hover {
  transform: translateY(-0.33em);
  background: linear-gradient(45deg, #4B6278, #2D3E50);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button:active .button_top,
.standard:active {
  transform: translateY(0);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Form Styling */
form {
  width: 90vw;
  padding: 2rem;
  background: var(--form-background-gradient);
  border-radius: 0.75rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-form {
  max-width: 80%;
}


/* Miscellaneous Styling */
.testing-css { 
  font-size: 100px;
}

.budget-list {
  list-style-type: none;
}

.card-opacity {
  background-color: rgba(255, 165, 0, 0.25);
}

.card * {
  opacity: 1;
}

.banner-container {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* About Page Styling */
li,
ul {
  text-decoration: none;
  list-style-type: none;
}

img-facility {
  object-fit: cover;
}

/* Scrollable Section Styling */
.scrollable-section {
  height: 200px; /* Adjust height as needed */
  overflow-y: scroll;
}

.user-item {
  cursor: pointer;
}

/* Social Buttons Styling */
.discord-button:hover {
  background: #5865F2;
}

.twitter-button:hover {
  background: #1CA1F1;
}

.reddit-button:hover {
  background: #FF4500;
}

.messenger-button:hover {
  background: #0093FF;
}

.pinterest-button:hover {
  background: #F0002A;
}

.instagram-button:hover {
  background: #F914AF;
}

.snapchat-button:hover {
  background: #FFFC00;
}

.whatsapp-button:hover {
  background: #25D366;
}

.social-button:hover {
  transform: scale(1.1);
}

.buttons {
  position: relative;
  display: grid;
  place-items: center;
  height: 50px; 
  width: 50px;
  transition: 0.3s;
  border-radius: 50%;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.buttons:hover {
  padding: 20px;
}

.buttons-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* Footer Styling */
.Btninstagram {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(4px);
  border-radius: 10px;
  transition: all .3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  z-index: -1;
  border-radius: 9px;
}

.Btninstagram:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.Btninstagram:hover .svgContainer {
  background-color: rgba(156, 156, 156, 0.466);
}
