{% extends 'community/base.html' %}

<!-- confirm_delete.html - Template for confirming the deletion of an event -->
{% block content %}
<div class="container mt-5 d-flex justify-content-center align-items-center">
     <!-- Container for the delete confirmation section with styling for centering and margin -->
    <div class="row justify-content-center align-items-center d-flex carousel-inner border-0 rounded">
        <div class="col-11 col-md-9 col-lg-7 mt-5 mb-5 border-0 rounded" id="main-background">
            <!-- Column for the main content area with responsive breakpoints -->
            <p class="text-center mt-2 mb-2 "> <strong> Deleting an event will remove it from the booking page and event will be refunded </strong> </p>
            <!-- Informational text about the consequences of event deletion -->
<form method="POST" id="delete-event-form" class="col-12 d-flex justify-content-center align-items-center p-1 m-1">
{% csrf_token %}

<a href="{% url 'home' %}" class=" standard btn btn-secondary align-items-center m-1 ">Cancel</a><!-- Link to cancel the deletion -->
<button type="submit" class=" standard btn btn-danger m-1" id="delete-event-button"> Delete </button><!-- Button to confirm deletion -->
</form>
</div>
</div>
</div>
>
<script>
    // JavaScript for handling the delete confirmation dialog
    document.addEventListener('DOMContentLoaded', function() {
        // Event listener for DOM content loaded
        const deleteButton = document.getElementById('delete-event-button');
        deleteButton.addEventListener('click', function() {
            // Confirm dialog on delete button click
            if (confirm('Are you sure you want to delete this event?')) {
                document.getElementById('delete-event-form').submit();
            }
        });
    });
    </script>
{% endblock %}