<!-- Event Detail -->
<h1>{{ event.title }} </h1> <!-- Display event title -->
<p> {{ event.description }} </p> <!-- Display event description -->
<p>Date: {{ event.date }}</p> <!-- Display event date -->
<p>Start Time : {{ event.time }}</p> <!-- Display event start time -->
<p> Capacity: {{ event.capacity }}</p> <!-- Display event capacity -->
<p> Cost:  </p> <!-- Placeholder for event cost -->
{% if event.image %}
<img src="{{ event.image.url }}" alt="Event Iamge"> <!-- Display event image -->
{% endif %}